body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    
    background-color: white;
    color: black;
    
}

img{
    border-radius: 50%;
}

.text{
    text-align: center;
} 

.about{
    text-align: justify;
}
table,thead,tbody,th,td{
    border:4px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
fieldset{
    border-radius: 15px;
    width:400px;
}
a{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

a:hover{
    font-size: 22px;
    border: 1px solid black;
}